@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .markdown-buttons {
        @apply
            p-1 flex items-center justify-center
            text-lg text-neutral-100
            border border-transparent rounded-sm
            transition-colors hover:bg-neutral-700/50
            focus:outline-none focus-visible:bg-neutral-700/50
            focus-visible:border-neutral-500
            data-[set=active]:bg-neutral-700
    }

    .markdown-text {
        @apply
            prose prose-sm prose-h2:text-neutral-300 prose-h2:mt-0
            prose-p:m-0
            prose-strong:text-neutral-300
            prose-p:text-neutral-300
            prose-li:marker:text-neutral-300
    }
}